/* Criação dos primeiros atributos da página
O código com essa configuração cria uma faixa vermelha em cima 
e o letreiro fica em preto

:root{
    --vermelho: #E50914;
    --preto: #141414;
    --aqua: rgb(0,255,255);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
}
header .container{}

header .logo{
    background: var(--vermelho);
    font-family: 'Arial Black', 'Times New Roman', Times, serif;
}
Parei aos 13:26 seg da aula 3
*/